__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

venv/
.envrc
.env.local


.vscode/
.idea/
*.iml

.coverage
htmlcov/
.pytest_cache/

postgres_data/
redis_data/
*.pid
